<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsable">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('ruby_yyc.png', class: 'nav-bar-logo'), root_path %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapsable">
      <ul class="nav navbar-nav" id="menu">
        <li class="<%= 'active' if controller.is_a?(HomeController) %>"><%= link_to 'Home', root_path %></li>
        <li class="<%= 'active' if controller.is_a?(EventsController) %>"><%= link_to 'Past Meetups', events_path %></li>
        <li class="<%= 'active' if controller.is_a?(SponsorsController) %>"><%= link_to 'Sponsors', sponsors_path %></li>
        <li class="<%= 'active' if controller.is_a?(LocationsController) %>"><%= link_to 'Location', locations_url %></li>
        <li class="<%= 'active' if controller.is_a?(JobsController) %>"><%= link_to 'Job Board', jobs_path %></li>
        <% if user_signed_in? %>
          <li class="<%= 'active' if controller.is_a?(NewsController) %>"><%= link_to 'Announcements', news_index_path %></li>
        <% end %>
        <li><%= link_to 'Meetup Group', "http://www.meetup.com/#{MEETUP_GROUP_SLUG}" %></li>
        <li><%= link_to 'Twitter', 'https://twitter.com/yyc_ruby', class: 'twitter-link' %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" align="right">
          <% if user_signed_in? %>
            <li class="<%= 'active' if controller.is_a?(Devise::RegistrationsController) %>">
              <%= link_to fa_icon('cog') + ' Edit Profile', edit_user_registration_path %>
            </li>
          <% end %>
        <li>
          <% if user_signed_in? %>
            <%= link_to fa_icon('sign-out') + ' Log Out', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to fa_icon('sign-in') + ' Log In', new_user_session_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
