<%= simple_form_for job do |f| %>
  <%= f.error_notification %>

  <%= f.input :company, placeholder: 'Company Name...' %>
  <%= f.input :title, placeholder: 'Job title...' %>
  <%= f.input :company_career_url, placeholder: 'Company Careers URL...' %>
  <%= f.input :posting_url, placeholder: 'Job Posting URL...' %>
  <%= f.input :description, as: :text, placeholder: 'Job description...' %>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :logo %>
    </div>
    <div class="col-md-6">
      <div class="input-group">
            <span class="input-group-btn">
              <span class="btn btn-primary btn-file text-uppercase">
                Upload a logo <%= f.input_field :logo, as: :file, label: false %>
              </span>
            </span>
        <input type="text" class="form-control" placeholder="No file selected&hellip;" readonly>
      </div>
    </div>
    <div class="col-md-4">
      <% if job.logo %>
        <%= image_tag job.logo(:thumb), class: 'img-fluid' %>
        Current Logo
      <% end %>
    </div>
  </div>

  <%= f.button :submit, class: 'btn btn-primary text-right' %>
<% end %>

<%= render 'layouts/shared/file_select_js' %>
