<%= render 'layouts/shared/page_header',
           { heading: 'YYC.rb',
             sub_heading: 'Calgary Ruby User Group',
             description: 'We meet once a month to code, do talks and meet others doing Ruby development in the Calgary area.' } %>

<div class="row">
  <div class="col-md-6">

      <div class="panel panel-warning past-meetups">
        <div class="panel-heading">
          <h3 class="panel-title">Announcements</h3>
        </div>
        <div class="panel-body">
          <%= render template: 'news/show' %>
        </div>
      </div>

    <%= render 'events/next_meetup' %>

    <div class="panel panel-warning past-meetups">
      <div class="panel-heading">
        <h3 class="panel-title">Past Meetups</h3>
      </div>
      <div class="panel-body">
        <%= render 'events/past_meetups' %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <%= render 'locations/location' %>
  </div>
</div>
