<%= render 'layouts/shared/map_libraries' %>

<div class="card border border-dark text-white past-meetups">
  <div class="card-header bg-dark text-white">
    Location
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xs-12">
        <% if @next_meetup.present? %>
          <%= @next_meetup.venue['name'] %> <br/>
          <%= @next_meetup.venue['address_1'] %> <br/>
          <%= [@next_meetup.venue['city'], @next_meetup.venue['state'], @next_meetup.venue['localized_country_name']].join(', ') %>
        <% else %>
          No upcoming meetup.
        <% end %>
      </div>
    </div>

    <div id="map" style="height: 350px;"></div>
  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      handler = Gmaps.build('Google');
      handler.buildMap({
        provider: {maxZoom: 13},
        internal: {id: 'map'}
      }, function () {
        markers = handler.addMarkers(<%=raw @map_hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    });
  </script>
<% end %>
