<!DOCTYPE html>
<html>
  <head>
    <title>YYC.rb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/shared/flash_alerts', flash: flash %>

    <%= render 'layouts/shared/nav_bar' %>

    <div class="container">
      <div class="row yycruby">
        <div class="col-md-12">
          <%= yield %>
          <%= render 'layouts/shared/footer' %>
        </div>
      </div>
    </div>


    <%= yield :scripts %>
  </body>
</html>
